.map {
  g {
    path {
      transition: all 0.5s;
    }
    &.active {
      path {
        fill-opacity: 1;
      }

      &:hover {
        path {
          fill-opacity: 1;
        }
      }
    }

    &:hover {
      path {
        fill-opacity: 0.8;
      }
    }
  }
}
